/* .feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.feedback-form button {
  padding: 8px 12px;
  font: inherit;
  cursor: pointer;
}

input,
textarea {
  padding: 8px;
  font: inherit;
}

textarea {
  resize: none;
} */

/* .alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #4caf50; /* Зелений колір для успішного повідомлення */
  /* color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; */
  /* opacity: 0; /* Невидиме за замовчуванням */
  /* visibility: hidden; Невидиме за замовчуванням */
  /* transition: opacity 0.3s ease, visibility 0.3s ease; */ 


/* Стилі для видимого спливаючого повідомлення */
/* .alert.js-visible {
  opacity: 1;
  visibility: visible;
} */ 
/* ---------------------- timer */

/* .timer {
  text-align: center;
  font-family: Arial, sans-serif;
}

.clockface {
  font-size: 2em;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: center;
}

.timer-btn {
  padding: 10px 20px;
  margin: 5px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.timer-btn:hover {
  background-color: #0056b3;
} */

/* ----------------------------- */

.js-start-race {
  background-color: #4CAF50; /* Зелений фон */
  color: white; /* Білий текст */
  padding: 10px 20px; /* Внутрішні відступи */
  border: none; /* Без рамки */
  border-radius: 5px; /* Закруглені кути */
  font-size: 16px; /* Розмір тексту */
  cursor: pointer; /* Курсор у вигляді руки */
}

/* Стилі для тексту результатів */
.js-winner, .js-progress {
  font-size: 18px; /* Розмір тексту */
  margin: 10px 0; /* Зовнішні відступи */
    height: 50px;
    color: black;

}

/* Стилі для таблиці результатів */
.js-results-table {
  width: 100%; /* Ширина таблиці */
  border-collapse: collapse; /* Злиття меж */
  margin-top: 20px; /* Відступ зверху */
}

.js-results-table th, .js-results-table td {
  border: 1px solid #ddd; /* Границя комірок */
  padding: 8px; /* Внутрішні відступи комірок */
  text-align: left; /* Вирівнювання тексту по лівому краю */
}

.js-results-table th {
  background-color: #f2f2f2; /* Світло-сірий фон заголовків */
  font-weight: bold; /* Жирний текст заголовків */
}